.parent {
    position: absolute; 
    width: 100vw; 
    height: 100vh; 
    margin: 0;
    padding:0;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, 0.67);
    z-index: 10;
}

.panel {
    background-color: var(--cancel-button-color);
    padding: 20px; 
    border-radius: 5px;
    position: relative;
}

.btn {
    padding: 10px; 
    background-color: #292929;
    float: right;
    margin-left: 10px;
    font-size: 0.95rem;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
}

.btn:active {
    transform: scale(0.95);
}

.btn.confirm {
    background-color: var(--submit-button-color);
}

.message {

}

.icon {
    margin: 0px 0 10px 0;
}

.closeBtn {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px; 
    top: 15px; 
    margin: 0; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeBtn:active {
    transform: scale(0.9);
}

.line {
    display: inline-block;
    width: 1px;
    height: 20px; 
    background-color: var(--text-color);
}

.line.left {
    transform: rotate(-45deg);
}

.line.right {
    transform: rotate(45deg);
}
