.input_container {
  border: 1px solid gray;
  font-family: 'Roboto', 'sans-serif';
  border-radius: 4px;
  height: 2rem;
  font-size: 1.15em;
  position: relative; 
  color: var(--text-color); 
  height: 100%; 
}

.highlight_container {
  width: auto;
  color: rgba(1, 1, 1, 0); 
  opacity: 0.20;
  position: absolute; 
  white-space: pre;
  user-select: none;
  top: 0; 
  z-index: 1;
  pointer-events: none;
}

.highlight {
  background-color: var(--text-highlight-color);
}
